html {
	color: white;
	
	background: url(background.png) #575E66;
}

titleBar {
	color: white;

	background: black;
	
	animation: headerShow 1s;
}

@keyframes headerShow
{
	from {top: -5rem;}
	to {top: 0rem;}
}

footer {
	color: white;

	background: black;
	
	animation: footerShow 1s;
}

@keyframes footerShow
{
	from {bottom: -5rem;}
	to {bottom: 0rem;}
}

/* Notifications */

info {
	color: black;

	background-color: #428eff;
	
	border-style: solid;
	border-width: .1rem;
	border-color: #001eff;
}

warning, error {
	color: black;
	
	background-color: #ff6b6b;
	
	border-style: solid;
	border-width: .1rem;
	border-color: #ff0000;	

}

success {
	color: black;
	
	background-color: #7ded6f;
	
	border-style: solid;
	border-width: .1rem;
	border-color: #108700;
}

/* Buttons */

titleBar a[type=toolbar] {	
	color: white;
	font-size: 1.6rem;
	text-shadow: 0rem .1rem 0rem #305b5e;
	
	cursor: pointer;
		
	border-radius: .7rem;
	
	background: #3d434a;
	
	transition: all .5s;
}

titleBar a[type=toolbar]:hover {
	background: #575E66;
}

titleBar a[type=toolbar]:active {
	background: #282d32;
}