@media (min-width: 767px) {
  /* Regions */
  section[role="dialog"], form[role="dialog"] {
    width: auto;
    height: auto;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    box-shadow: 0 0 20px black;
    padding: 5px;
      -webkit-transform: translateY(150%);
      -moz-transform: translateY(150%);
      -o-transform: translateY(150%);
      -ms-transform: translateY(150%);
    transform: translateY(150%);
    z-index: 102 !important;
  }
  section[role="dialog"] + .background, form[role="dialog"] + .background {
    width: 100%;
    height: 100%;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: fixed;
    background: rgba(0,0,0,.5);
    content: "";
    opacity: 0;
    visibility: hidden;
      -moz-transition: opacity .4s, visibility .4s 0s;
      -webkit-transition: opacity .4s, visibility .4s 0s;
      -o-transition: opacity .4s, visibility .4s 0s;
      -ms-transition: opacity .4s, visibility .4s 0s;
    transition: opacity .4s, visibility .4s 0s;
  }
  section[role="dialog"].current + .background,
  section[role="dialog"].parent + .background,
  form[role="dialog"].current + .background,
  form[role="dialog"].parent + .background {
    opacity: 1;
    visibility: visible;
      -moz-transition: opacity .4s, visibility 0s;
      -webkit-transition: opacity .4s, visibility 0s;
      -o-transition: opacity .4s, visibility 0s;
      -ms-transition: opacity .4s, visibility 0s;
    transition: opacity .4s, visibility 0s;
  }
  [role="main"].header-only {
    overflow: auto;
  }
  
  /* Tabs */
  [role="tablist"] > [role="tab"] {
    width: auto !important;
  }
  [role="tablist"] > [role="tab"] > a {
    padding: 0 15px;
    width: auto;
  }
  
  /* Drawer/Sidebar */
  section[data-type="sidebar"], section[data-type="sidebar"] [role="toolbar"] {
    width: 250px;
  }
  section[data-type="sidebar"] > nav {
    height: calc(100% - 5rem - 4rem);
  }
  [data-state="drawer"].current {
      -moz-transform: translateX(250px) !important;
      -webkit-transform: translateX(250px) !important;
      -o-transform: translateX(250px) !important;
      -ms-transform: translateX(250px) !important;    
    transform: translateX(250px) !important;   
  }
  [data-state="drawer"][data-position="right"].current {
      -moz-transform: translateX(-250px) !important;
      -webkit-transform: translateX(-250px) !important;
      -o-transform: translateX(-250px) !important;
      -ms-transform: translateX(-250px) !important;    
    transform: translateX(-250px) !important;
  }  
  
  /* Misc */    
  .firetext {
    text-align: left !important;      
  }
}
