html {
  font-size: 9px;
}

.mobile-only {
  display: none !important;
}

/* Regions */
section[role="region"] {
  opacity: 0;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

section[role="region"].current,
[role="region"].parent,
[role="dialog"].parent {
  opacity: 1;
}

section[role="dialog"],
form[role="dialog"] {
  width: auto;
  height: auto;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;    
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 10px #efefef;
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -o-transform: translateY(150%);
    -ms-transform: translateY(150%);
  transform: translateY(150%);
  z-index: 102 !important;
}

section[role="dialog"] + .background,
form[role="dialog"] + .background {
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: fixed;
  background: rgba(255,255,255,.7);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
    -moz-transition: opacity .4s, visibility .4s 0s;
    -webkit-transition: opacity .4s, visibility .4s 0s;
    -o-transition: opacity .4s, visibility .4s 0s;
    -ms-transition: opacity .4s, visibility .4s 0s;
  transition: opacity .4s, visibility .4s 0s;
}

section[role="dialog"].current + .background,
section[role="dialog"].parent + .background,
form[role="dialog"].current + .background,
form[role="dialog"].parent + .background {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
    -moz-transition: opacity .4s, visibility 0s;
    -webkit-transition: opacity .4s, visibility 0s;
    -o-transition: opacity .4s, visibility 0s;
    -ms-transition: opacity .4s, visibility 0s;
  transition: opacity .4s, visibility 0s;
}

/* Tabs */
[role="tabs"] [role="tab"] {
  opacity: 0;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

[role="tabs"] [role="tab"].selected-tab {
  opacity: 1;
}
  
/* Drawer/Sidebar */
section[data-type="sidebar"] {
  width: auto;
  position: absolute;
  top: 5.5rem;
  margin: 0 4px;
  z-index: 1000;
    height: -moz-calc(100% - 5.5rem - 3rem);
    height: -webkit-calc(100% - 5.5rem - 3rem);
  height: calc(100% - 5.5rem - 3rem);
  transition: none;
  background-color: transparent;
  color: #1f1f1f;
  border-radius: 8px;
  overflow: visible;
  pointer-events: none;
}

.fullscreen section[data-type="sidebar"] {
  top: 4.5rem;
    height: -moz-calc(100% - 4.5rem - 3rem);
    height: -webkit-calc(100% - 4.5rem - 3rem);
  height: calc(100% - 4.5rem - 3rem);
}

section[data-type="sidebar"] > * {
  pointer-events: all;
}

section[data-type="sidebar"] > header:first-child {
  display: none;
}

section[data-type="sidebar"] > nav {
  height: auto;
    max-height: -moz-calc(100% - 5rem);
    max-height: -webkit-calc(100% - 5rem);
  max-height: calc(100% - 5rem);
  border: 1px solid #ccc;
  border-bottom-width: 0;
  padding: 5px 0;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
}

section[data-type="sidebar"] > nav:before,
section[data-type="sidebar"] > nav:after {
  height: 0;
  width: 0;
  position: absolute;
  border: solid transparent;
  content: " ";
  border-width: 11px;
  margin-left: -11px;
  right: 9px;
}

section[data-type="sidebar"] > nav:before {
  border-bottom-color: #ccc;
  bottom: 100%;
}

section[data-type="sidebar"] > nav:after {
  border-bottom-color: #fff;
    bottom: -moz-calc(100% - 1px);
    bottom: -webkit-calc(100% - 1px);
  bottom: calc(100% - 1px);
}

section[data-type="sidebar"] > nav > h2 {
  background-color: transparent;
  text-indent: 0;
  font-size: 1.8rem;
  padding: 0.5rem 1.8rem;
}

section[data-type="sidebar"] > nav > ul > li:active {
  background-color: #efefef;
}

section[data-type="sidebar"] > nav > ul > li > a {
  font-size: 1.8rem;
  line-height: 4rem;
  padding: 0.5rem 1.8rem 0.5rem 4.5rem;
  text-indent: 0;
}

[dir="rtl"] section[data-type="sidebar"] > nav > ul > li > a {
  padding: 0.5rem 4.5rem 0.5rem 1.8rem;
}

section[data-type="sidebar"] > nav > ul > li > a > .icon {
  left: 1.8rem;
  top: 1.8rem;
}

[dir="rtl"] section[data-type="sidebar"] > nav > ul > li > a > .icon {
  left: auto;
  right: 1.8rem;
}

section[data-type="sidebar"] [role="toolbar"] {
  width: 100%;
  position: static;
  background-color: #efefef;
  color: inherit;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top-width: 0;
}

section[data-type="sidebar"] [role="toolbar"] button {
  margin: 0;
}

section[data-type="sidebar"] [role="toolbar"] button:active,
section[data-type="sidebar"] [role="toolbar"] button.active {
  background-color: #ccc; 
}

[data-state="drawer"].current,
[data-state="drawer"][data-position="right"].current,
[dir="rtl"] [data-state="drawer"].current,
[dir="rtl"] [data-state="drawer"][data-position="right"].current {
    -moz-transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;    
  transform: translateX(0) !important;   
}

[dir="rtl"] section[data-type="sidebar"] > nav:before,
[dir="rtl"] section[data-type="sidebar"] > nav:after {
  right: auto;
  left: 9px;
  margin-left: 0;
}

/* File Lists */
@media (max-width: 1833px) {
  [role="dialog"] .docsList.previews h2 {
    padding: 0.5rem calc((100% - 800px) / 2 + 2rem);
  }
  
  [role="dialog"] .docsList.previews ul {
    padding: 1rem calc((100% - 800px) / 2);
  }
}

@media (max-width: 1500px) {
  [role="dialog"] .docsList.previews h2 {
    padding: 0.5rem calc((100% - 600px) / 2 + 2rem);
  }
  
  [role="dialog"] .docsList.previews ul {
    padding: 1rem calc((100% - 600px) / 2);
  }
}

@media (max-width: 1167px) {
  [role="dialog"] .docsList.previews h2 {
    padding: 0.5rem calc((100% - 400px) / 2 + 2rem);
  }
  
  [role="dialog"] .docsList.previews ul {
    padding: 1rem calc((100% - 400px) / 2);
  }
}

/* Section Menus */
[role="dialog"] header:first-child {
  position: static;
}

[role="dialog"] header:first-child menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  text-align: right;
  border-top: solid 0.2rem #efefef;
}

[dir="rtl"] [role="dialog"] header:first-child menu {
  text-align: left;
}

[role="dialog"] header:first-child menu button,
[dir="rtl"] [role="dialog"] header:first-child menu button {
  float: none;
  display: inline-block;
}

[role="dialog"]:not(.menuless) [role="main"] {
    height: -moz-calc(100% - 10rem);
    height: -webkit-calc(100% - 10rem);
  height: calc(100% - 10rem);
}

[role="dialog"][data-type="edit"] > menu {
  width: 70rem; /* The longest language for this is ml-IN (eighth last in settings).
                 * When changing, don't forget to add a max-width if necessary. */
  padding: .46rem;
}

[role="dialog"]:not([data-type="edit"]) header:first-child h1 {
  padding-right: 5rem;
}

/* Editor */
#fileName {
  display: inline-block;
}

.edit-header .tabBar {
  display: inline-block;
  height: 100%;
}

.edit-header .tabBar > div {
  font-size: 2rem;
  line-height: 5rem;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#edit-bar {
  top: 5.1rem;
  color: #fafafa;
  z-index: 1;
}

#edit-zone {
  width: 100%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

#edit-zone:before {
  left: 0;
}

#edit-zone:after {
  right: 0;
}

/* Zen mode */
.fullscreen .edit-header {
  top: 0rem;
  background-color: transparent;
  position: absolute;
  border: none;
  width: 100%;
  background-color: #efefef;
}

.fullscreen .edit-header .tabBar {
  width: 21rem;
  margin: 0 1rem;
  white-space: nowrap;
  overflow-x: auto;
  height: auto;
}

.fullscreen .no-zen {
  display: none !important;
}

.fullscreen #edit-bar {
  color: #efefef;
  border-color: transparent !important;
  width: auto;
  height: 5rem;
  top: 0rem;
  left: 22rem;
  right: 22rem;
  z-index: 10;
  text-align: center;
}

.fullscreen #edit-bar li {
  float: none;
  padding: 0.5rem;
}

.fullscreen .editor-container {
  height: 100%;
}

.fullscreen #rawEditor {
  padding-top: 7rem;
}

/* Status */
section[role="status"] {
  top: 0;
  bottom: auto;
  text-align: center;
  background: transparent !important;
  pointer-events: none;
}

section[role="status"] > div {
  max-width: 400px;
  border-radius: 8px;
  margin: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
	opacity: 0;
  transition: opacity 0.3s;
  position: static;
  display: inline-block;
}

section[role="status"] > div p {
  margin: 0; 
}

section[role="status"] > div.notification-shown {
	opacity: 1;
}

header:hover ~ section[role="status"] > div {
  opacity: .5;
}
