.editor-container {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

.editor {
  border: none;
  font-size: 2em;
  font-family: "Open Sans", Sans-serif;
  outline: none;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  background-color: #efefef;
}

#tempEditDiv {
  font-family: "Open Sans", Sans-serif;
}

#rawEditor {
  border: none;
  padding: 5px 5px 6rem;
  font-size: 2em;
  outline: none;
  font-family: monospace;
  display: block;
  max-width: 100%;
  direction: ltr;
}

[role="toolbar"] .hidden {
  visibility: hidden;
}
