/* Basic CSS */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;  
  margin: 0;
  padding: 0;  
  font-size: 10px;
  font-family: sans-serif;  
  background: black;
}

.firetext {
  text-indent: -9999px;
  background-image: url(icons/app/firetext.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
  vertical-align: middle;
}

[role="main"].header-only {
  height: calc(100% - 5rem);
  overflow: scroll;
}

.redAlert {
  color: red;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: 1rem;
}


/* action_menu.css */
form[role=dialog] {
  visibility: hidden;
  opacity: .99;  
  transform: translateY(100%);  
  transition: all .4s ease; 
}

form[role=dialog].current {
  visibility: visible;
  opacity: 1;  
  transform: none;
}


/* Lists */
[data-type="list"], [data-type="edit"] {
  margin: 0;
  padding: 0;
}

[data-type="list"] h2, [data-type="edit"] h2 {
  background: #cacaca;
  padding: 10px 20px;
  color: #2c2c2c;
  margin: 0 0;
}

[data-type="list"] li a, [data-type="edit"] li a, .noLink {
  padding-left: 20px;
  padding-right: 20px;
}

[data-type="edit"] li {
  margin-left: 10px;
  margin-right: 10px;
}


/* Buttons */
.button-block {
  width: 96%;
  margin-left: 2%;
}


/* Value selectors */
#fileTypeLegend {
  float: right;
  width: 9rem;
}

#createDialogFileType {
  position: absolute;
  padding-top: 11px;  
}

#locationLegend {
  width: 100%;
}

#createDialogFileLocation {
  text-align: center;
}
  
legend.action { 
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

legend.action:active {
  background-color: #008caa;
  outline: none;
}

legend.action select {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
}


/* Tab Toolbar */
.tabToolbar {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.tabToolbar.visible {
  opacity: 1;
  visibility: visible;
}

.tabButton {
  float: right;
  padding: 5px;
  max-height: 30px;
}

.tabButton:active {
  background: #008aaa;
  transition: background 0.2s ease;
}


/* Browser */
.top-button {
  border-radius: 0;
  border: none;
  outline: none;
  margin: 0;
}

#browserFrame {
  width: 100%;
  border: none;
  outline: none;
  height: calc(100% - 3.9rem);
}


/* Spinner (Throbber) */
.spinner {
  border-radius: 8px;
  background: rgba(238,238,238,1);
  border: 2px solid rgb(31,31,31);
  padding: 10px;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  transition: opacity .3s, .3s visibility 0s;
  pointer-events: none;
}

.spinner:hover, .spinner:active, .spinner:focus {
  opacity: .3 !important;
}

.spinner.center {
  position: fixed;
  left: calc(50% - 53px / 2);
  top: calc(50% - 53px / 2);
}

.spinner.shown {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s, 0s visibility 0s;
}

.spinner > div {
  background-image: url(bb/progress_activity/images/ui/default.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 33px;
  -webkit-animation: spin .5s steps(30) infinite;
  animation: spin .5s steps(30) infinite;
}

@keyframes spin{
  0%{
    -webkit-transform:rotate(0turn);
    -moz-transform:rotate(0turn);
    -ms-transform:rotate(0turn);
    transform:rotate(0turn)
  }

  100%{
    -webkit-transform:rotate(1turn);
    -moz-transform:rotate(1turn);
    -ms-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0turn);
    -moz-transform:rotate(0turn);
    -ms-transform:rotate(0turn);
    transform:rotate(0turn)
  }

  100%{
    -webkit-transform:rotate(1turn);
    -moz-transform:rotate(1turn);
    -ms-transform:rotate(1turn);
    transform:rotate(1turn)
  }
} 