.desktop-only {
  display: none !important;
}

/* Regions */
section[role="region"] {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-o-transform: translateX(-100%); 
		-ms-transform: translateX(-100%); 
	transform: translateX(-100%);
}

section[role="region"].current,
[role="region"].parent,
[role="dialog"].parent {
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none; 
	transform: none;
}

section[role="region"].current ~ section[role="region"] {	 
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
	transform: translateX(100%);
}

[dir="rtl"] section[role="region"] {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%); 
		-ms-transform: translateX(100%); 
	transform: translateX(100%);
}

[dir="rtl"] section[role="region"].current,
[dir="rtl"] [role="region"].parent {
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none; 
	transform: none;
}

[dir="rtl"] section[role="region"].current ~ section[role="region"] {	 
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* Dialogs */
section[role="dialog"] + .background {
	display: none;
}

/* Sidebars */
[data-type="sidebar"] {
		-moz-transition: .4s visibility 0s;
		-webkit-transition: .4s visibility 0s;
		-o-transition: 4s visibility 0s;
	transition: .4s visibility 0s;
}

[data-type="sidebar"].active {
		-moz-transition: 0s visibility 0s;
		-webkit-transition: 0s visibility 0s;
		-o-transition: 0s visibility 0s;
	transition: 0s visibility 0s;
}

[data-state="drawer"].current {
		-moz-transform: translateX(80%) !important;
		-webkit-transform: translateX(80%) !important;
		-o-transform: translateX(80%) !important;
		-ms-transform: translateX(80%) !important;
	transform: translateX(80%) !important;
}

[dir="rtl"] [data-state="drawer"].current {
		-moz-transform: translateX(-80%) !important;
		-webkit-transform: translateX(-80%) !important;
		-o-transform: translateX(-80%) !important;
		-ms-transform: translateX(-80%) !important;
	transform: translateX(-80%) !important;
}

[data-state="drawer"].current > *:not(.drawerEnabled) {
	pointer-events: none;		
}

[data-state="drawer"].current .drawerEnabled {
	pointer-events: all;
}

[data-state="drawer"][data-position="right"].current {
		-moz-transform: translateX(-80%) !important;
		-webkit-transform: translateX(-80%) !important;
		-o-transform: translateX(-80%) !important;
		-ms-transform: translateX(-80%) !important;
	transform: translateX(-80%) !important;
}

[dir="rtl"] [data-state="drawer"][data-position="right"].current {
		-moz-transform: translateX(80%) !important;
		-webkit-transform: translateX(80%) !important;
		-o-transform: translateX(80%) !important;
		-ms-transform: translateX(80%) !important;
	transform: translateX(80%) !important;
}

/* File Lists */
.docsList.previews {
	min-height: 100%;
}

.docsList.previews h2 {
	padding: 0.5rem calc((100% - 450px) / 2 + 2rem);
}

.docsList.previews ul {
	padding: 1rem calc((100% - 450px) / 2);
}

@media (max-width: 479px) {
	.docsList.previews h2 {
		padding: 0.5rem calc((100% - 300px) / 2 + 2rem);
	}

	.docsList.previews ul {
		padding: 1rem calc((100% - 300px) / 2);
	}
}

.docsList.previews li.fileListItem {
	width: 150px;
}

.docsList.previews li.fileListItem .fileItemDescription {
	padding: 1.5rem;
	height: 150px;
}

.docsList.previews li.fileListItem .fileItemDescription iframe {
	width: 300px;
	height: 424px;
	transform: scale(0.333);
}

.docsList.previews li.fileListItem .fileItemInfo {
	padding: 0 1rem;
}

/* Tabs */
.current [role="tabs"] [role="tab"],
.parent [role="tabs"] [role="tab"],
.active [role="tabs"] [role="tab"] {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

[dir="rtl"] .current [role="tabs"] [role="tab"],
[dir="rtl"] .parent [role="tabs"] [role="tab"],
[dir="rtl"] .active [role="tabs"] [role="tab"] {
		-moz-transform: translateX(102%);
		-webkit-transform: translateX(102%);
		-o-transform: translateX(102%);
		-ms-transform: translateX(102%);
	transform: translateX(102%);
}

.current [role="tabs"] [role="tab"].selected-tab,
.parent [role="tabs"] [role="tab"].selected-tab,
.active [role="tabs"] [role="tab"].selected-tab {
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
	transform: none;
}

[role="tabs"] .selected-tab ~ [role="tab"] {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
	transform: translateX(100%);
}

[dir="rtl"] [role="tabs"] .selected-tab ~ [role="tab"] {
		-moz-transform: translateX(-102%);
		-webkit-transform: translateX(-102%);
		-o-transform: translateX(-102%);
		-ms-transform: translateX(-102%);
	transform: translateX(-102%);
}

/* Editor */
#fileName {
	display: none;
}

.edit-header .tabBar {
	white-space: nowrap;
	overflow-x: auto;
	text-align: center;
}

.edit-header .tabBar > div {
	font-size: 1.8rem;
	line-height: 5rem;
}

#edit-bar {
	top: 0;
	color: white;
	height: 5rem;
}

#edit-zone {
	width: calc(100% - 5rem);
	float: right;
	height: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

[dir="rtl"] #edit-zone {
	float: left;
}

#edit-zone:before, #edit-zone:after {
	height: 4rem; /* Don't cover scroll bar in Chrome mobile */
}

#edit-zone:before {
	left: 5rem;
}

#edit-zone:after {
	right: 0;
}

[dir="rtl"] #edit-zone:before {
	left: 0;
}

[dir="rtl"] #edit-zone:after {
	right: 5rem;
}

#edit-zone li button {
	margin: 1rem 0;
}

[dir="rtl"] #edit-zone {
	float: left;
}

#edit-zone li select {
	max-width: 10rem;
	margin: 0;
}

/* Status */
section[role="status"] > div {
	transform: translateY(100%);
}

section[role="status"] > div.notification-shown {
	transform: none;
}
