.night, .night body {
  background: #222222;
  color: #fff;
}


/* Regions */
.night section[role="region"],
.night section[role="dialog"],
.night form[role="region"],
.night form[role="dialog"] {
  background: #000;
}

.night section[role="dialog"],
.night form[role="dialog"] {
  border: 1px solid #fff;
}


/* Headers */
.night section > header:first-child {
  background: #000;
  color: #fff;
  border-color: #fff;
}


/* Spinner */
.night .spinner {
  background: rgba(0,0,0,1);
  border: 2px solid rgb(256,256,256);
}


/* Switches */
.night label input[data-type="switch"] + span:after {
  background: transparent;
}

.night label input[data-type="switch"] + span:before {
  background-color: #006400;
}

.night label input[data-type="switch"]:checked + span {
  border-color: #fff;
}


/* Lists */
.night [data-type="list"] h2,
.night [data-type="edit"] h2 {
  background: #006400;
  color: white;
}

.night [data-type="list"] li {
  color: #fff;
}

.night [data-type="list"] li p:first-of-type {
  color: #fff;
}


/* File lists */
.night [data-type="list"] li.fileListItem {
  background: #111;
  color: #fff;
  border-color: #6a6a6a;
}

.night [data-type="list"] li.fileListItem .fileItemDescription {
  background: #000;
}

.night [data-type="list"] li.fileListItem .fileItemName {
  color: #fff;
}

.night [data-type="list"] li.fileListItem .fileItemPath {
  color: #a4a4a4;
}


/* Sidebar */
.night section[data-type="sidebar"] {
  background: #000;
  color: #fff;
}

.night section[data-type="sidebar"] > nav > h2 {
  background: #006400;
  color: white;
}


/* Tabs */
.night [role="tablist"] {
  color: #fff;
  background: #222;
}

.night [role="tablist"] > [role="tab"] > a {
  color: #fff;
  background: #222;
}

.night [role="tablist"] > [role="tab"] > a:active {
  background: #012700;
}

.night [role="tablist"] > [role="tab"].selected > a {
  background-color: #006400;
  color: #fff;
}

.night [role="tablist"] [role="tabpanel"] {
  background: #000;
  color: white;
}


/* Editor */
.night .editor {
  background: #000;
  color: #fff;
}

.night #rawEditor {
  background: #000;
  color: #fff;
}


/* Google Code Prettify */
/* Tomorrow Night Bright Theme */
.night .pln {
  color: #eaeaea;
}

/* string content */
.night .str {
  color: #b9ca4a;
}

/* a keyword */
.night .kwd {
  color: #c397d8;
}

/* a comment */
.night .com {
  color: #969896;
}

/* a type name */
.night .typ {
  color: #7aa6da;
}

/* a literal value */
.night .lit {
  color: #e78c45;
}

/* punctuation */
.night .pun {
  color: #eaeaea;
}

/* lisp open bracket */
.night .opn {
  color: #eaeaea;
}

/* lisp close bracket */
.night .clo {
  color: #eaeaea;
}

/* a markup tag name */
.night .tag {
  color: #d54e53;
}

/* a markup attribute name */
.night .atn {
  color: #e78c45;
}

/* a markup attribute value */
.night .atv {
  color: #70c0b1;
}

/* a declaration */
.night .dec {
  color: #e78c45;
}

/* a variable name */
.night .var {
  color: #d54e53;
}

/* a function name */
.night .fun {
  color: #7aa6da;
}

/* pre style */
.night pre.prettyprint {
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
.night ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
.night li.L0,
.night li.L1,
.night li.L2,
.night li.L3,
.night li.L4,
.night li.L5,
.night li.L6,
.night li.L7,
.night li.L8,
.night li.L9 {
  /* */
}

/* Alternate shading for lines */
.night li.L1,
.night li.L3,
.night li.L5,
.night li.L7,
.night li.L9 {
  /* */
}

/* End of Google Code Prettify CSS */
