/* ----------------------------------
 * Edit mode
 * ---------------------------------- */

[role="edit"][data-type="edit"] {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  font-family: "Moz", "Open Sans", Sans-serif;
  color: #6f6f6f;
  pointer-events: none;
  opacity: .99;
  visibility: hidden;
  transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -webkit-transform: scale(1, 2);
    -o-transform: scale(1, 2);
    -ms-transform: scale(1, 2);
  transition: transform .6s,
              -moz-transform .6s,
              -webkit-transform .6s,
              -o-transform .6s,
              -ms-transform .6s,
              opacity .4s,
              .4s visibility 0s;
    -moz-transition: -moz-transform .6s, transform .6s, opacity .4s, .4s visibility 0s;
    -webkit-transition: -webkit-transform .6s, transform .6s, opacity .4s, .4s visibility 0s;
    -o-transition: -o-transform .6s, transform .6s, opacity .4s, .4s visibility 0s;
}

[role="edit"][data-type="edit"].current {
  opacity: 1;
  visibility: visible;
  transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
  transition: transform .4s,
              -moz-transform .4s,
              -webkit-transform .4s,
              -o-transform .4s,
              -ms-transform .4s,
              opacity .4s,
              0s visibility 0s;
    -moz-transition: -moz-transform .4s, transform .4s, opacity .4s, 0s visibility 0s;
    -webkit-transition: -webkit-transform .4s, transform .4s, opacity .4s, 0s visibility 0s;
    -o-transition: -o-transform .4s, transform .4s, opacity .4s, 0s visibility 0s;
}

/* Header */
[role="edit"][data-type="edit"] header:first-child {
  pointer-events: auto;  
}

[role="edit"][data-type="edit"] header:first-child h1 {
  padding: 0 2rem;
}

/* Menu */
[role="edit"][data-type="edit"] > menu {
  pointer-events: auto;
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  border-top: solid 0.2rem #efefef;
  background: #fff;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

[role="edit"][data-type="edit"] menu button {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #efefef;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: 'MozTT', Sans-serif;
  font-weight: 500;
  line-height: 3.8rem;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
[role="edit"][data-type="edit"] menu button:active,
[role="edit"][data-type="edit"] menu button.recommend:active {
  background: #ddd;
  color: #333;
}

/* Recommend */
[role="edit"][data-type="edit"] menu button.recommend{
  background-color: #eee;
}

/* Danger */
[role="edit"][data-type="edit"] menu button.danger{
  background-color: #BE000A;
  color: #fff;
  text-shadow: none;
}

/* Danger Press */
[role="edit"][data-type="edit"] menu button.danger:active{
  background-color: #7a0a0a;
}

/* Disabled */
[role="edit"][data-type="edit"] > menu > button[disabled] {
  background: #5f5f5f;
  color: #4d4d4d;
  text-shadow: none;
  border-color: #4d4d4d;
  pointer-events: none;
}

[role="edit"][data-type="edit"] menu button:last-child {
  margin-left: 1rem;
}

[role="edit"][data-type="edit"] menu button,
[role="edit"][data-type="edit"] menu button:first-child {
  margin: 0;
}

[role="edit"][data-type="edit"] menu button {
  width: calc((100% - 1rem) / 2);
    width: -moz-calc((100% - 1rem) / 2);
    width: -webkit-calc((100% - 1rem) / 2);
}

[role="edit"][data-type="edit"] menu button.full {
  width: 100%;
}
