/* ----------------------------------
 * Lists
 * ---------------------------------- */

[data-type="list"] {
  font-family: "MozTT", "Moz", Sans-serif;
  font-weight: 400;
  padding: 0 1.5rem;
}

[data-type="list"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-type="list"] strong {
  font-weight: 500;
}

/* Title divisors */
[data-type="list"] header {
  border-bottom: 0.1rem solid #aeaeae;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: #ff4E00;
  text-transform: uppercase;
}

/* List items */
[data-type="list"] li {
  width: 100%;
  height: 6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: -webkit-transform 0.3s ease, padding 0.3s ease;
  transition: transform 0.3s ease, padding 0.3s ease;
  border-bottom: solid 0.1rem #ddd;
  color: #2c2c2c;
  margin: 0;
  display: block;
  position: relative;
  z-index: 1;
}

[data-type="list"] li:last-child {
  border: none;
}

/* Pressed State */
[data-type="list"] li > a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 6rem;
  position: relative;
  border: none;
  outline: none;
}

[data-type="list"] li > a:after {
  content: "";
  background-color: #dfdfdf;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

[data-type="list"] li > a:active:after {
  opacity: 0.6;
  /* Only transition on 'press', not on 'release' */
  transition: opacity 0.2s ease;
}

/* Disabled */
[data-type="list"] li[aria-disabled="true"]:after {
  content: "";
  background-color: #e6e6e6;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

[data-type="list"] li[aria-disabled="true"] {
  pointer-events: none;
}

/* Graphic content */
[data-type="list"] aside {
  float: left;
  margin: 0 0.5rem 0 0;
  height: 100%;
  position: relative;
  z-index: 2;
  font-size: 3rem;
}

[data-type="list"] aside[class^="icon-"], 
[data-type="list"] aside[class*=" icon-"] {
  padding: 1.4rem 0;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[data-type="list"] li > a aside,
[data-type="list"] li > a aside.icon {
  background-color: transparent;
  z-index: -1;
}

[data-type="list"] aside.pack-end {
  float: right;
  margin: 0 0 0 0.5rem;
  text-align: right;
}

.pack-end button {
    font-size: 1.5rem;
    width: auto;
    padding: 0 0.2rem;
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
}

[data-type="list"] aside[data-icon] {
  width: 3rem;
  height: 6rem;
  background-color: transparent;
  font: 0/0 a;
  display: block;
  overflow: hidden;
}

[data-type="list"] aside img {
  display: block;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  background: transparent center center / cover;
  position: relative;
  z-index: 1;
}

/* Text content */
[data-type="list"] li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #5b5b5b;
  font-size: 1.5rem;
  line-height: 2rem;
}

[data-type="list"] li p:first-of-type {
  line-height: 2.2rem;
  color: #000;
  padding: 1rem 0 0;
}

[data-type="list"] li p:only-child,
[data-type="list"] li p:first-of-type:last-of-type {
  line-height: 4rem;
}

[data-type="list"] li p em {
  font-size: 1.5rem;
  font-style: normal;
}

[data-type="list"] li p time {
  margin-right: 0.3rem;
  text-transform: uppercase;
}

/* Checkable content */
[data-type="list"] li > label {
  pointer-events: none;
  position: absolute;
  top: -0.1rem;
  bottom: 0;
  right: 0;
  left: -4rem;
  z-index: 1;
  width: auto;
  height: auto;
  border-top: solid 0.1rem #dbd9d9;
}

[data-type="list"] li > label input + span {
  left: 0;
  margin-left: 0;
}

/* Edit mode */
[data-type="list"] [data-type="edit"] li {
  transform: translateX(4rem);
  padding-left: 0;
  margin-left: 2rem;
}

[data-type="list"] [data-type="edit"] li > label {
  pointer-events: auto;
}

[data-type="list"] [data-type="edit"] li > a:active:after {
  display: none;
}


/* RTL */
.rtl [data-type="list"] aside { 
    float: right;   
    margin: 0 0 0 0.5rem;
}

.rtl [data-type="list"] .pack-end {
    float: left;
}

.rtl .pack-end button {
    left: 0;
    right: auto;
}

.rtl [data-type="list"] [data-type="edit"] li {
    transform: translateX(-4rem);
    padding-right: 0;
    margin-right: 2rem;
}

[data-type="list"] li > label {
    right: -4rem;
    left: auto;
}
