/* ----------------------------------
* Tabs
* ---------------------------------- */

[role="tablist"] {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Sans-serif;
  background: #efefef;
}

[role="tablist"] > [role="tab"] {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  opacity: 1;
}

/* Items calcs */
[role="tablist"][data-items="2"] > [role="tab"] {
    width: -moz-calc(100% / 2);
    width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
}

[role="tablist"][data-items="3"] > [role="tab"] {
    width: -moz-calc(100% / 3);
    width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}

[role="tablist"][data-items="4"] > [role="tab"] {
    width: -moz-calc(100% / 3);
    width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}

[role="tablist"][data-items="4.1"] > [role="tab"] {
    width: -moz-calc(100% / 4.1);
    width: -webkit-calc(100% / 4.1);
  width: calc(100% / 4.1);
}

[role="tablist"][data-items="5"] > [role="tab"] {
    width: -moz-calc(100% / 5);
    width: -webkit-calc(100% / 5);
  width: calc(100% / 5);
}

[role="tablist"] > [role="tab"] > a {
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 4rem;
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  color: #737373;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
  outline: none;
}

[role="tablist"] > [role="tab"] > a:active {
  background-color: #bfbfbf;
  color: #1f1f1f;
}

[role="tablist"] > [role="tab"][aria-disabled="true"] > a:active {
  background-color: #000;
}

[role="tablist"] > [role="tab"] > a.icon {
  font-size: 0;
}

[role="tablist"] > [role="tab"] > a.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: none no-repeat center top;
  left: 0;
  z-index: 1;
}

/* Hidden */
[role="tablist"] > [role="tab"].hidden {
  visibility: hidden;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
  transition: all .5s;
}

/* Selected state */
[role="tablist"] > [role="tab"].selected > a {
  color: #000;
  background: #fff;
}

[role="tablist"] > [role="tab"].selected > a.icon:after {
  background-position: center -4rem;
}

/* Disabled state */
[role="tablist"] > [role="tab"][aria-disabled="true"] > a {
  color: #4d4d4d;
}

[role="tablist"] > [role="tab"][aria-disabled="true"] > a.icon:after {
  background-position: center -8rem;
}

[role="tablist"] [role="tabpanel"] {
  position: absolute;
  top: 4rem;
  left: 0;
  visibility: hidden;
  width: 100%;
    height: -moz-calc(100% - 4rem);
    height: -webkit-calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: block;
  overflow: auto;
  background: #fff;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
  transition: all .4s;    
}

.current [role="tablist"] [role="tabpanel"],
.parent [role="tablist"] [role="tabpanel"],
.active [role="tablist"] [role="tabpanel"] {
    -moz-transform: translateX(-102%);
    -webkit-transform: translateX(-102%);
    -o-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
  transform: translateX(-102%);
}

.current [role="tablist"] .selected [role="tabpanel"],
.parent [role="tablist"] .selected [role="tabpanel"],
.active [role="tablist"] .selected [role="tabpanel"],
.rtl .current [role="tablist"] .selected [role="tabpanel"],
.rtl .parent [role="tablist"] .selected [role="tabpanel"],
.rtl .active [role="tablist"] .selected [role="tabpanel"] {
  visibility: visible;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
  transform: none;
}

[role="tablist"] .selected ~ [role="tab"] [role="tabpanel"] {
    -moz-transform: translateX(102%);
    -webkit-transform: translateX(102%);
    -o-transform: translateX(102%);
    -ms-transform: translateX(102%);
  transform: translateX(102%);
}

/* Position bottom */
[role="tablist"].bottom > [role="tab"] {
  height: 100%;
}

[role="tablist"].bottom  > [role="tab"] > a {
  position: relative;
  height: 4rem;
    top: -moz-calc(100% - 4rem);
    top: -webkit-calc(100% - 4rem);
  top: calc(100% - 4rem);
}

[role="tablist"].bottom [role="tabpanel"] {
  top: 0;
}

/* ----------------------------------
 * Filters
 * ---------------------------------- */

[role="tablist"][data-type="filter"] {
  background: #c7c7c7;
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

[role="tablist"][data-type="filter"]:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0.2rem;
  background: transparent;
}

[role="tablist"][data-type="filter"] > [role="tab"] {
  float: left;
  text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #737272;
  border-bottom: solid 1px #999;
}

[role="tablist"][data-type="filter"] > [role="tab"] > a {
  display: block;
  padding: 1.3rem 0.5rem;
  text-decoration: none;
  color: #737272;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  font: bold 1.4rem/1em "Open Sans", Sans-serif;
  width: auto;
  float: none;
}

/* Selected state */
[role="tablist"][data-type="filter"] > [role="tab"].selected {
  background: #fff;
  border: solid 1px #999;
  border-top: none;
  color: #000;
}

[role="tablist"][data-type="filter"] > [role="tab"].selected > a {
  color: #000;
}

[role="tablist"][data-type="filter"] > [role="tab"] > a:active {
  background-color: #008aaa;
  color: #fff;
}

/* Bottom position */
[role="tablist"][data-type="filter"].bottom:before {
  bottom: 100%;
  top: auto;
  background-image: transparent;
}

[role="tablist"][data-type="filter"].bottom > [role="tab"] {
  border-bottom: none;
  border-top: solid 1px #999;
}
[role="tablist"][data-type="filter"].bottom > [role="tab"] > a {
  height: auto;
}


/* RTL */
.rtl [role="tablist"] > [role="tab"] {
    float: right;   
}

.rtl .current [role="tablist"] [role="tabpanel"],
.rtl .parent [role="tablist"] [role="tabpanel"],
.rtl .active [role="tablist"] [role="tabpanel"] {
    -moz-transform: translateX(102%);
    -webkit-transform: translateX(102%);
    -o-transform: translateX(102%);
    -ms-transform: translateX(102%);
  transform: translateX(102%);
}

.rtl [role="tablist"] .selected ~ [role="tab"] [role="tabpanel"] {
    -moz-transform: translateX(-102%);
    -webkit-transform: translateX(-102%);
    -o-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
  transform: translateX(-102%);
}
