/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role="toolbar"] {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #1d1d1d;
}

[role="toolbar"] ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

[role="toolbar"] ul:last-child {
  float: right;
  text-align: right;
}

[role="toolbar"] li {
  float: left;
  width: 5.3rem;
}

[role="toolbar"] button {
  width: 5rem;
  height: 4rem;
  border: none;
  font-size: 0;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  text-indent: -100%;
}

[role="toolbar"] button:active, 
[role="toolbar"] button.active {
  background-color: #444;
}