html {
	padding: 0;
	margin: 0 auto;
	max-width: 690px;
	position: relative;
}

[_firetext_night] {
	background-color: #000000;
	color: #ffffff;
}

body {
	padding: 10px 10px 65px;
	margin: 0;
	font-size: 20px;
	outline: none;
	word-wrap: break-word;
}

[_firetext_night] body {
	background-color: #000000;
}

html:before,
html:after,
body:before,
body:after {
	display: block;
	position: absolute;
	content: " ";
	box-sizing: border-box;
	width: 8px;
	height: 8px;
	margin: -8px 2px;
	border: 1px solid #999;
	pointer-events: none;
}

html:before {
	top: 10px;
	border-top-width: 0;
	border-left-width: 0;
}

html:after {
	margin-top: -65px;
	border-bottom-width: 0;
	border-left-width: 0;
}

body:before {
	right: 0;
	border-top-width: 0;
	border-right-width: 0;
}

body:after {
	right: 0;
	margin-top: 0;
	border-bottom-width: 0;
	border-right-width: 0;
}

@media (min-width: 767px) {
	html {
		padding-top: 65px;
		padding-bottom: 65px;
		background-color: #efefef;
	}
	
	[_firetext_night] {
		background-color: #111111;
	}
	
	body {				
		border: 1px solid #ddd;
		box-shadow: 0 0 5px #ddd;
		padding-bottom: 10px;
		background-color: #ffffff;
	}
	
	[_firetext_night] body {
		border-color: #080808;
		box-shadow: none;
	}
	
	html:before,
	body:before {
		top: 75px; 
	}
	
	html:after {
		margin-top: -10px;
	}
	
	body {
		margin: -1px;
	}
}
