body:before,
body:after,
#tempEditDiv:before,
#tempEditDiv:after {
  display: block;
  position: absolute;
  content: " ";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin: -8px 2px;
  border: 1px solid #999;
  pointer-events: none;
}
body:before {
  top: 10px;
  border-top-width: 0;
  border-left-width: 0;
}
body:after {
  margin-top: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}
#tempEditDiv:before {
  right: 0;
  border-top-width: 0;
  border-right-width: 0;
}
#tempEditDiv:after {
  right: 0;
  margin-top: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

@media (min-width: 767px) {
  body:before, #tempEditDiv:before {
    top: 65px;
  }
  
  #tempEditDiv {
    padding-top: 65px !important;
  }
}